<div class="container">
    <a href="/" class="brand">BRAND</a>
    <ul class="nav-links">
        <li><a href="#" id="home">Home</a></li>
        <li><a href="#" id="about">About</a></li>
        <li><a href="#" id="services">Services</a></li>
        <li><a href="#" id="theme">Theme</a></li>
        <a href="http://google.com" target="_blank" class="btn btn-0">Contact Us</a>
    </ul>
    <div class="menu-icon">
        <svg xmlns="http://www.w3.org/2000/svg" width="34" height="34" viewBox="0 0 24 24">
            <path d="M3 18h18v-2H3v2zm0-5h18v-2H3v2zm0-7v2h18V6H3z" />
        </svg>
    </div>
</div>